/********** Base styles **********/
* {
    box-sizing: border-box;
    font-family: Helvetica;
  }

  h1 {
    margin-bottom: 15px;
    text-align: center;
  }

  div {
    border: 10px solid white;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    padding: 10px;
  }

  /* Simple Responsive Framework. */
  .row {
    width: 100%;
  }
  
  #p1 {
    background-color: gray;
    padding-top: 50px;
    width: 200px;
    height: 200px;
    position: relative;
  } 
  #p1 #n1 {
      background-color: lightcyan;
      width: 100px;
      height: 30px;
      border: 0;
      top: 1px;
      right: 1px;
      position: absolute;
  }

  #p1 #n2 {
    background-color: yellow;
    width: 100px;
    height: 30px;
    border: 0;
    top: 1px;
    right: 1px;
    position: absolute;
}
#p1 #n3 {
    background-color: red;
    width: 100px;
    height: 30px;
    border: 0;
    top: 1px;
    right: 1px;
    position: absolute;
}

  /********** Large devices only **********/
  @media (min-width: 992px) {
    #p1 {
      width: 33.3%;
    } 
  }
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    #p1 {
      width: 50%;
    }
  }
   /********** Medium devices only **********/
   @media (max-width: 767px) {
    #p1 {
      width: 100%;
    }
  }
  